apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sample-webapp-pvc
  labels:
    app: sample-webapp
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # For cloud providers, specify storageClassName
  # storageClassName: standard
