apiVersion: v1
kind: Service
metadata:
  name: sample-webapp-service
  labels:
    app: sample-webapp
    tier: frontend
spec:
  type: NodePort
  selector:
    app: sample-webapp
  ports:
    - name: http
      protocol: TCP
      port: 80            # Service port
      targetPort: 3000    # Container port
      nodePort: 30080     # External NodePort (30000-32767 range)
  sessionAffinity: None
